configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  /* 🔹 ВЫСОТА ОКНА */
  lines: 40;

  /* 🔹 КРУПНЕЕ СТРОКИ */
  font: "monospace 12";
}

/* 🔹 ВИЗУАЛЬНАЯ ВЫСОТА */
window {
  padding: 12px;
}

listview {
  spacing: 4px;
}
